.seminar-title h3 {
    margin: 0 !important;
}
.seminar-title p {
    margin-bottom: 0 !important;
}
.seminar-nav {
    margin-top: 0.25rem !important;
}
.seminar-nav ul > .link > a {
    padding: 10px 25px;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none !important;
}
.seminar-nav ul > .link > a:hover {
    cursor: pointer;
}

.flex-columns ul {
    display: flex;
    flex-direction: column;
}

.flex-columns ul li {
    margin-bottom: 10px;
}

.flex-columns ul li {
    font-size: 1rem;
}
.flex-columns ul li + li {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.flex-columns ul li + li::before {
    width: 0 !important;
    height: 0 !important;
}
.seminar-single-info {
    flex-basis: 45% !important;
    /* padding-left: 40px !important;
    padding-right: 0 !important; */
}
@media (max-width: 767px) {
    .seminar-single-info {
        flex-basis: 100% !important;
    }
}

.seminar-single-detail {
    max-width: 592.917px !important;
    flex-basis: 60% !important;
}

@media (max-width: 767px) {
    .seminar-single-detail {
        flex-basis: 100% !important;
    }
}

@media (max-width: 1200px) {
    .seminar-single-info {
        flex-basis: 100% !important;
    }
    .seminar-single-detail {
        max-width: 100% !important;
        flex-basis: auto !important;
    }
}
/* color */
.success {
    background: #20c997 !important;
}
.danger {
    background: #d87070 !important;
}
.primary {
    background: #1534d0 !important;
}

.seminar-btn-grup a {
    /* width: 50% !important; */
}
.seminar-btn-grup a {
    padding: 10px 25px;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none !important;
}
.seminar-btn-grup .theme-btn-s2 {
    border-radius: 8px !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 !important;
}
/* btn hover */
.seminar-btn-grup .success:hover {
    background: #15946e !important;
}
.seminar-btn-grup .primary:hover {
    background: #112bad !important;
}
